<div class="row">
  <div class="col s12 l12">
    <div class="card-panel white">
      <h4 class="card-title pink-text">{{TITLE}}</h4>
      <div class="input-field pink-text s6 l6">
        <i class="material-icons prefix">search</i>
        <input id="searchCategory"  [(ngModel)]="searchResult" (keyup)="filterItem()"  type="text" >
        <label for="searchCategory">{{ProductSearch}}</label>
      </div>
      <tableComponenets [headsTable]="headsTables" [bodyTableContent]=bodyTable (paginationParams)="getProductsByPagination($event);" [countRecord]="countProduct"  (changeItem)="addUpdateProduct($event)"></tableComponenets>
    </div>
  </div>
</div>

<div id="productModal" #modals class="modal">
  <div class="modal-content">
    <h4 class="pink-text center" *ngIf="operationType == 'create'; else updateProducts">{{ADD_PRODUCT_TITTLE}}</h4>
    <ng-template #updateProducts>
      <h4 class="pink-text center">{{UPDATE_PRODUCT_TITTLE}}</h4>
    </ng-template>
    <div class="row">
      <form #createUpdateForm = "ngForm" (ngSubmit)="onSubmit(createUpdateForm)">
        <div class="row col s12">
          <div class="input-field col s12 l6 pink-text">
            <mz-select-container>
              <select mz-select
                      id="options-category"
                      [label]=CATEGORY
                      [placeholder]=CATEGORY
                      [(ngModel)]="selectItemCategory" name="category"
                      (change)="changeIva()" >

                <option *ngFor="let item of categoryObject_OUT; let i = index" [value]= i>{{item.name}}</option>
              </select>
            </mz-select-container>
          </div>

          <div class="input-field col s12 l6 pink-text">
            <i class="material-icons prefix ">local_offer</i>
            <input id="nameProduct" placeholder="Only Words" name="nameProduct" #nameProduct="ngModel" autocomplete="false" [(ngModel)]="productModel_IN.dataProduct.nameProd" mz-tooltip [tooltip]=TOLLTIP_NAME_PRODUCT (blur)="validateVisualForm('name')" type="text" [class]="classStyleFormName" required>
            <label class="active" for="nameProduct">{{NAME}}</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l6 pink-text">
            <i class="material-icons prefix ">description</i>
            <textarea id="description" name="descriptionProduct" #descriptionProduct="ngModel" mz-tooltip [tooltip]=TOLLTIP_DES_PRODUCT [(ngModel)]="productModel_IN.dataProduct.descriptProd" (blur)="validateVisualForm('description')" [class]="classStyleFormDes" required></textarea>
            <label class="active" for="description">{{DESCRIPTION}}</label>
          </div>

          <div class="input-field col s12 l6 pink-text">
            <input id="ivaProd" name="ivaProd" #ivaProd="ngModel" mz-tooltip (keyup)="calculateTotal()" [tooltip]=TOLLTIP_IVA_PRODUCT autocomplete="false" [(ngModel)]="productModel_IN.dataProduct.ivaProd" type="number" (blur)="validateVisualForm('iva')" [class]="classStyleFormIva" required>
            <label class="active" for="ivaProd">{{IVA}}</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 l6 pink-text">
            <input id="costProd" name="costProd" #costProd="ngModel" mz-tooltip (keyup)="calculateTotal()" [tooltip]=TOLLTIP_COST_PRODUCT autocomplete="false" [(ngModel)]="productModel_IN.dataProduct.costProd" type="number" (blur)="validateVisualForm('cost')" [class]="classStyleFormCost" required>
            <label class="active" for="costProd">{{COST}}</label>
          </div>

          <div class="input-field col s12 l3 pink-text">
            <input id="marginProd" name="marginProd" #marginProd="ngModel" mz-tooltip (keyup)="calculateTotal()" [tooltip]=TOLLTIP_MARGIN_PRODUCT autocomplete="false" [(ngModel)]="productModel_IN.dataProduct.marginProd" type="number" (blur)="validateVisualForm('margi')" [class]="classStyleFormMar" required>
            <label class="active" for="marginProd">{{MARG}}</label>
          </div>
          <div class="input-field col s12 l3 pink-text">
            <input id="totalProd" name="totalProd" #totalProd="ngModel" mz-tooltip [(ngModel)]="quantityTotalProd" type="number">
            <label for="totalProd" class="active">Total</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 l3 pink-text">
            <input id="stockProduct" name="stockProduct" #stockProduct="ngModel" mz-tooltip [tooltip]=TOLLTIP_STOCK_PRODUCT autocomplete="false" [(ngModel)]="productModel_IN.dataProduct.stock" type="number" (blur)="validateVisualForm('stock')" [class]="classStyleFormSto" required>
            <label class="active" for="stockProduct">{{STOCK}}</label>
          </div>

          <div class="input-field col s12 l3 pink-text">
            <input id="stockProductMin" name="stockProductMin" #stockProductMin="ngModel" mz-tooltip [tooltip]=TOLLTIP_STOCK_PRODUCT autocomplete="false" [(ngModel)]="productModel_IN.dataProduct.stockMin" type="number" (blur)="validateVisualForm('stock')" [class]="classStyleFormSto" required>
            <label class="active" for="stockProductMin">Stock Mínimo</label>
          </div>

          <div class="col s12 l3 switch pink-text">
            <label>
              <span>Favorito</span>
              <input type="checkbox" [checked]="productModel_IN.dataProduct.favorite" (change)="productModel_IN.dataProduct.favorite?productModel_IN.dataProduct.favorite=false:productModel_IN.dataProduct.favorite=true">
              <span class="lever"></span>
            </label>
          </div>

          <div class="input-field col s12 l3 pink-text">
            <i class="material-icons prefix ">local_offer</i>
            <input id="refProduct" placeholder="Only Numbers" name="refProduct" #refProduct="ngModel" autocomplete="false" [(ngModel)]="productModel_IN.dataProduct.refProd" mz-tooltip [tooltip]=TOLLTIP_REF_PRODUCT (blur)="validateVisualForm('ref')" type="text" [class]="classStyleFormRef" required>
            <label class="active" for="refProduct">{{REF}}</label>
          </div>
        </div>

        <div class="row" >
          <div class="input-field col s12" *ngIf="buttonSaveUpdate">
            <button class="btn waves-effect waves-light col s12" type="submit" name="action" [disabled]="!createUpdateForm.form.valid">{{LABEL_SAVE_PRODUCT}}
              <i class="material-icons right">save</i>
            </button>
          </div>

          <div class="input-field col s12" *ngIf="!buttonSaveUpdate">
            <button class="btn waves-effect orange lighten-1 waves-light col s12" type="submit" name="action" [disabled]="!createUpdateForm.form.valid">{{LABEL_UPDATE_PRODUCT}}
              <i class="material-icons right">save</i>
            </button>
          </div>

          <div class="input-field col s12">
            <button class="btn modal-action modal-close waves-effect waves-light blue col s12" type="button" >{{LABEL_CANCEL_PRODUCT}}
              <i class="material-icons right">close</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="imageProductModal" #modal class="modal">
  <div class="modal-content">
    <h4 class="pink-text center" *ngIf="operationType == 'create'; else updateProductsImage">{{QUESTIONIMAGE}}</h4>
    <ng-template #updateProductsImage>
      <h4 class="pink-text center">{{QUESTIONIMAGECHANGE}}</h4>
    </ng-template>
    <div class="row">
      <div class="right col l12 s12">
        <a class="btn modal-action modal-close waves-effect waves-light red left col l3 s12"  type="button" >{{NO}}
          <i class="material-icons right">close</i>
        </a>
        <a class="btn waves-effect modal-close modal-trigger waves-light blue right col l3 s12" href="#imageUploadProductModal" type="button" >{{YES}}
          <i class="material-icons right">check</i>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="imageUploadProductModal" class="modal">
  <div class="modal-content">
    <h4 class="pink-text center">Elegir una imagen</h4>
    <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="fileChangeevent($event)">
        </div>
        <div class="file-path-wrapper">
          <input id="file"  class="file-path validate">
        </div>
      </div>
      <div class="right col l12 s12">
        <button class="btn modal-action modal-close waves-effect waves-light blue left col l3 s12" (click)="submitImage()" type="button" >Cargar
          <i class="material-icons right">file_upload</i>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="deletedProduct"  class="modal">
  <div class="modal-content">
    <h4 class="pink-text center">{{DELETED_PRODUCT_TITTLE}}</h4>
    <div class="row">
      <div class="center pink-text col l12 s12" >
        <h6>{{DELETED_PRODUCT_SUBTITTLE}}</h6>
      </div>
      <div class="modal-footer">
        <div class="right col l12 s12">

          <button class="btn modal-action modal-close waves-effect waves-light red right col l3 s12" (click)="deleteProduct()" type="button" >{{LABEL_DELETED_PRODUCT}}
            <i class="material-icons right">remove</i>
          </button>
          <button class="btn modal-action modal-close waves-effect waves-light blue right col l3 s12" type="button" >{{LABEL_CANCEL_PRODUCT}}
            <i class="material-icons right">close</i>
          </button>
        </div>

      </div>

    </div>
  </div>
</div>
