<div class="row">
  <div class="col s12 flexbox">
    <div class="card blue-grey darken-1 z-depth-3">
      <div class="card-content white-text">
        <div class="row">
         <h2 class="center">
           {{MAIN_LOGIN}}
         </h2>
          <h6 class="center card-title" *ngIf="credenciales">
            {{WELCOME}}
          </h6>
          <h6 class="center card-title red-text" *ngIf="!credenciales">
            {{ERROR_CREDENCIALS}}
          </h6>
          <div class="col l4 offset-l4 m6 offset-m3">
            <form #registerForm = "ngForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="username" minlength="5"  name="nameUser" #nameUser="ngModel" autocomplete="false" [(ngModel)]="usernames"  type="text" [class]="claseFormulario" required>
                  <label for="username">{{NAME_USER}}</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock</i>
                  <input id="pass" minlength="5" name="contrasena" #contrasena="ngModel" [(ngModel)]="dataLogin.usuario.password" type="password" [class]="claseFormulario" required>
                  <label for="pass">{{PASSWORD}}</label>
                </div>
                <div class=" col s12">
                  <!--<label>
                    <input type="checkbox" name="recordar" #recordar="ngModel" [(ngModel)]="recordarCredenciales" />
                    <span>{{REMEMBER}}</span>
                  </label>-->
                  <mz-checkbox-container>
                    <input mz-checkbox  [disabled]="false" [checked]="true"  [label]=REMEMBER type="checkbox" id="checkbox-id" (click)="changeCredentials()"/>
                  </mz-checkbox-container>
                </div>
              </div>
              <div class="row" >
                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light col s12" type="submit" name="action" required>{{ENTER}}
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>


            </form>
          </div>
        </div>
        <div class="card-content">
          <div class="col s12 center">
            <p>{{RECOVER_PASSWORD}} <a [routerLink]="['/recover-user']">aquí</a></p>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
<div *ngIf="show">
  <wait-load></wait-load>
</div>

