<div class="row">
  <div class="col s12 l12">
    <div class="card-panel white">
      <h4 class="card-title pink-text"><b>{{TITLE}}</b></h4>
      <div class="row">
        <div class="col s12">
          <table class="striped centered responsive-table" >
            <thead class="pink-text fixed">
            <tr>
              <th><span>Producto</span></th>
              <th><span>Descripción</span></th>
              <th><span>Cantidad</span></th>
              <th><span>Precio</span></th>
              <th><span>Precio Total</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let itemBody of bodyTableFull; let i = index " (click)="selectedRow(i)" [class]="i==indexSelected?selectRow:''">
              <td>
                <span>{{itemBody.nameProd}}</span>
              </td>
              <td>
                <span>{{itemBody.descProd}}</span>
              </td>
              <td>
                <span>{{itemBody.quanProd}}</span>
              </td>
              <td>
                <span>{{itemBody.pricProd.toFixed(2)}}</span>
              </td>
              <td>
                <span>{{(itemBody.pricProd * itemBody.quanProd).toFixed(2)}}</span>
              </td>
            </tr>
            </tbody>
          </table>
          <ul class="pagination center" *ngIf="bodyTableFull.length > 5">
            <mz-pagination (pageChange)="getRecordByPage($event)" [currentPage]="1" [itemsPerPage]="5" [enableFirstAndLastPageButtons]="true" [totalItems]="bodyTableFull.length"></mz-pagination>
            <span class="pink-text right">TOTAL {{countRecord}}</span>
          </ul>
        </div>
      </div>
      <div class="row">
        <form #createUpdateForm = "ngForm" (ngSubmit)="onSubmit(createUpdateForm)">
          <!--Bloque izquierdo-->
          <div class="row">
            <div class="col s12 l6">
              <div class="col l12 s12">
                <!--Campo de texto-->
                <div class="col s10 l10 input-field pink-text">
                  <input id="personClient" placeholder="Cliente"   name="personClient" #personClient="ngModel" readonly [disabled]="true" autocomplete="false" [(ngModel)]="client" mz-tooltip [tooltip]="'Cliente'"  type="text"  class="validate" required>
                  <label class="active" for="personClient">Cliente</label>
                </div>

                <!--Lupa-->
                <div class="col s2 l2" *ngIf="!client; else dropClient">
                  <button mz-button  [flat]="true"  [large]="false" class="btn-search-bill" (click)="getClient();" [float]="true">
                    <i class="material-icons pink-text">search</i>
                  </button>
                </div>
                <ng-template #dropClient>
                  <button mz-button  [flat]="true"  [large]="false" class="btn-search-bill" (click)="client = ''" [float]="true">
                    <i class="material-icons pink-text">delete</i>
                  </button>
                </ng-template>
              </div>


              <div class="col l6 s6">
                <div class="col s12 l12 switch pink-text">
                  <label>
                    Con IVA
                    <input type="checkbox">
                    <span class="lever"></span>
                    Sin IVA
                  </label>
                </div>
              </div>

              <div class="col l6 s6">
                <div class="col s7 l7 input-field pink-text">
                  <input id="quantityProduct"  placeholder="Solo numeros" name="quantityProduct" #quantityProduct="ngModel"  autocomplete="false" [(ngModel)]="quantity" mz-tooltip [tooltip]="'Cantidad'"  type="number"  class="validate" required>
                  <label class="active" for="quantityProduct">Cantidad</label>
                </div>
                <div class="col s2 l2" *ngIf="quantity">
                  <button mz-button  [flat]="true"  [large]="false" class="btn-search-bill" (click)="quantity=1" [float]="true">
                    <i class="material-icons pink-text">delete</i>
                  </button>
                </div>
              </div>


            </div>
            <!--Bloque derecho-->
            <div class="col s12 l6">
              <!--Proveedor-->
              <div class="col l12 s12">
                <!--Campo de texto-->
                <div class="col s10 l10 input-field pink-text">
                  <input id="providerClient" placeholder="Proveedor" name="providerClient" #providerClient="ngModel" readonly [disabled]="true" autocomplete="false" [(ngModel)]="provider" mz-tooltip [tooltip]="'Proveedor'"  type="text"  class="validate" required>
                  <label class="active" for="providerClient">Proveedor</label>
                </div>
                <!--Lupa-->
                <div class="col s2 l2" *ngIf="!provider; else providerClients">
                  <button mz-button  [flat]="true"  [large]="false" class="btn-search-bill" (click)="getProviders();" [float]="true">
                    <i class="material-icons pink-text">search</i>
                  </button>
                </div>
                <ng-template #providerClients>
                  <button mz-button  [flat]="true"  [large]="false" class="btn-search-bill" (click)="provider = ''; categories = ''" [float]="true">
                    <i class="material-icons pink-text">delete</i>
                  </button>
                </ng-template>
              </div>

              <!--categoria-->
              <div class="col l12 s12">
                <!--Campo de texto-->
                <div class="col s10 l10 input-field pink-text">
                  <input id="categoryClient" placeholder="Categoría"  name="categoryClient" #categoryClient="ngModel" readonly [disabled]="true" autocomplete="false" [(ngModel)]="categories" mz-tooltip [tooltip]="'Categoria'"  type="text"  class="validate" required>
                  <label class="active" for="categoryClient">Categoría</label>
                </div>
                <!--Lupa-->
                <div class="col s2 l2" *ngIf="!categories; else dropCategories">
                  <button mz-button  [flat]="true"  [large]="false" class="btn-search-bill" (click)="getCategories();" [float]="true">
                    <i class="material-icons pink-text">search</i>
                  </button>
                </div>
                <ng-template #dropCategories>
                  <button mz-button  [flat]="true"  [large]="false" class="btn-search-bill" (click)="categories = ''" [float]="true">
                    <i class="material-icons pink-text">delete</i>
                  </button>
                </ng-template>
              </div>

              <!--Producto-->
              <div class="col l12 s12">
                <!--Campo de texto-->
                <div class="col s10 l10 input-field pink-text">
                  <input id="productClient" placeholder="Productos"  name="productClient" #productClient="ngModel" readonly [disabled]="true" autocomplete="false" [(ngModel)]="products" mz-tooltip [tooltip]="'productos'"  type="text"  class="validate" required>
                  <label class="active" for="productClient">Productos</label>
                </div>
                <!--Lupa-->
                <div class="col s2 l2" *ngIf="!products; else dropProducts">
                  <button mz-button  [flat]="true"  [large]="false" class="btn-search-bill" (click)="getProducts();" [float]="true">
                    <i class="material-icons pink-text">search</i>
                  </button>
                </div>
                <ng-template #dropProducts>
                  <button mz-button  [flat]="true"  [large]="false" class="btn-search-bill" (click)="products = ''" [float]="true">
                    <i class="material-icons pink-text">delete</i>
                  </button>
                </ng-template>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="fixed-action-btn btn-float-bill">
  <button mz-button [flat]="false" [large]="true" class="blue" [float]="true">
    <i class="material-icons">settings</i>
  </button>
  <ul>
    <li>
      <button mz-button [flat]="false"  class="red" mz-tooltip [tooltip]="'Guardar y Cerrar'" [float]="true">
        <i class="material-icons">save_alt</i>
      </button>
    </li>
    <li>
      <button mz-button [flat]="false" mz-tooltip [tooltip]="'Guardar sin cerrar'" class="green" [float]="true">
        <i class="material-icons">save</i>
      </button>
    </li>

    <li>
      <button mz-button [flat]="false" mz-tooltip [tooltip]="'Eliminar elemento'" (click)="deletedProduct()" class="yellow darken-1" [float]="true">
        <i class="material-icons">delete</i>
      </button>
    </li>

    <li>
      <button mz-button [flat]="false" mz-tooltip [tooltip]="'Añadir elemento'" class="green" (click)="addProduct()" [float]="true">
        <i class="material-icons">add</i>
      </button>
    </li>



  </ul>
</div>

<div id="selectClient" #selectClient class="modal">
  <div class="modal-content">
    <h4 class="pink-text center">{{SELECT_CLIENT}}</h4>
    <div class="row">

      <table-list [bodyTableContent]="bodyClient" [headsTable]="headClient" (changeItem)="selectClients($event)" (paginationParams)="getClientPagination($event)" [countRecord]="countClient"></table-list>

    </div>
  </div>
  <div class="modal-footer">
    <div class="right col l12 s12">

      <button class="btn btn-bill-flat modal-close waves-effect waves-blue btn-flat" type="button" >{{LABEL_CANCEL}}
        <i class="material-icons right">close</i>
      </button>
    </div>

  </div>
</div>

<div id="selectProvider" #selectProvider class="modal">
  <div class="modal-content">
    <h4 class="pink-text center">{{SELECT_PROVIDER}}</h4>
    <div class="row">

      <table-list [bodyTableContent]="bodyProvider" [headsTable]="headProvider" (changeItem)="selectProviders($event)" (paginationParams)="getClientPagination($event)" [countRecord]="countProvider"></table-list>

    </div>
  </div>
  <div class="modal-footer">
    <div class="right col l12 s12">

      <button class="btn btn-bill-flat modal-close waves-effect waves-blue btn-flat" type="button" >{{LABEL_CANCEL}}
        <i class="material-icons right">close</i>
      </button>
    </div>

  </div>
</div>

<div id="selectCategories" #selectCategories class="modal">
  <div class="modal-content">
    <h4 class="pink-text center">{{SELECT_CATEGORIES}}</h4>
    <div class="row">

      <table-list [bodyTableContent]="bodyCategory" [headsTable]="headCategories" (changeItem)="selectCategory($event)" (paginationParams)="getClientPagination($event)" [countRecord]="countCategories"></table-list>

    </div>
  </div>
  <div class="modal-footer">
    <div class="right col l12 s12">

      <button class="btn btn-bill-flat modal-close waves-effect waves-blue btn-flat" type="button" >{{LABEL_CANCEL}}
        <i class="material-icons right">close</i>
      </button>
    </div>

  </div>
</div>

<div id="selectProduct" #selectProduct class="modal">
  <div class="modal-content">
    <h4 class="pink-text center">{{SELECT_PRODUCT}}</h4>
    <div class="row">

      <table-list [bodyTableContent]="bodyProduct" [headsTable]="headProduct" (changeItem)="selectionProduct($event)" (paginationParams)="getClientPagination($event)" [countRecord]="countProduct"></table-list>

    </div>
  </div>
  <div class="modal-footer">
    <div class="right col l12 s12">

      <button class="btn btn-bill-flat modal-close waves-effect waves-blue btn-flat" type="button" >{{LABEL_CANCEL}}
        <i class="material-icons right">close</i>
      </button>
    </div>

  </div>
</div>
