<div class="row">
  <div class="col s12 l12">
    <div class="card-panel white">
      <h4 class="card-title pink-text">{{TITLE}}</h4>
      <div class="input-field pink-text s6 l6">
        <i class="material-icons prefix">search</i>
        <input id="searchPerson"  [(ngModel)]="searchResult" (keyup)="filterItem()"  type="text" >
        <label for="searchPerson">{{PersonSearch}}</label>
      </div>
      <tableComponenets [headsTable]="headsTables" [bodyTableContent]=bodyTable (paginationParams)="getProviderByPagination($event);" [countRecord]="countProvider"  (changeItem)="addUpdateProvider($event)"></tableComponenets>
    </div>
  </div>
</div>
