<header>
<nav id="navedes" class="blue-grey darken-1 z-depth-3">
  <div class="nav-wrapper navbar-fixed col s12">
    <a href="#"  class="brand-logo right">Tienda</a>
    <ul id="nav-mobile" class="left">
      <!--<li><button mz-button id="btn-sidenav-demo" ><i class="material-icons">menu</i></button></li>-->
      <li><a data-target="slide-out" (click)="sidenav.opened = !sidenav.opened" class="show-on-large hide-on-med-and-down sidenav-trigger"><i class="material-icons">menu</i></a></li>
      <li><a id="menu"  class="waves-effect waves-light btn btn-floating blue-grey darken-1 z-depth-0"><i class="material-icons">help_outline</i></a></li>
      <li class="hide-on-med-and-down"><a href="#"><i class="material-icons">notifications</i></a></li>
      <li class="hide-on-med-and-down"><a href="#"><i class="material-icons">search</i></a></li>
      <li class="hide-on-med-and-down"><a href="#"><i class="material-icons">settings</i></a></li>
      <!--<li><a href="#" data-target="slide-out" class="hide-on-med-and-down sidenav-trigger"><i class="material-icons blue-grey-text">menu</i></a></li>-->
    </ul>
  </div>
</nav>
</header>

<mz-sidenav
  [id]="'slide-out'"
  #sidenav

  [draggable]="true"
  [backgroundClass]="classBackgraundSidenav"
  [collapseButtonId]="'slide-out'">
  <mz-sidenav-header>
    <div class="user-view">
      <div class="background">
        <img src="">
      </div>
      <div *ngIf="!IMAGE; else imageUrl">
        <a href="#"><i class="material-icons black-text">account_circle</i></a>
      </div>
      <ng-template #imageUrl>
        <!--<a href="#"><img src="{{url + 'get-image-file/'+ n.image}}" alt="imageProfile"> </a> LLAMAR A LA FUNCION QUE OBTIENE LOS DATOS DE LAS PERSONA-->
      </ng-template>
      <a href="#"><span class="white-text name">{{NAME}}</span></a>
      <a href="#"><span class="white-text name">{{LASTNAME}}</span></a>
      <a href="#"><span class="white-text email">{{EMAIL}}</span></a>
      <mz-sidenav-link>
        <a class="white-text waves-effect" [routerLink]="['/login']" (click)="exitSession()" ><i class="material-icons white-text">exit_to_app</i>{{EXITAPPSESSION}}</a>
      </mz-sidenav-link>
    </div>
     </mz-sidenav-header>

     <mz-sidenav-divider></mz-sidenav-divider>
     <mz-sidenav-link>
       <a [routerLink]="['/dashboard/main-dashboard']" (click)="hidenSidenaves()" ><i class="material-icons">dashboard</i>{{MAINPAGE}}</a>
     </mz-sidenav-link>

     <mz-sidenav-divider></mz-sidenav-divider>
     <mz-sidenav-link>
       <a [routerLink]="['/dashboard/category']" ><i class="material-icons">local_offer</i>{{CATEGORIES_PAGE}}</a>
     </mz-sidenav-link>
      <mz-sidenav-divider></mz-sidenav-divider>
      <mz-sidenav-link>
        <a [routerLink]="['/dashboard/product']" ><i class="material-icons">restaurant</i>{{PRODUCT_PAGE}}</a>
      </mz-sidenav-link>
   </mz-sidenav>

<div class="tap-target blue-grey lighten-3" data-target="menu">
  <div class="tap-target-content white-text">
    <h5>{{titleDiscover}}</h5>
    <p>{{subtitleDiscover}}</p>
  </div>
</div>

<main>
  <div class="row">
    <div class="col s12">
    </div>
    <!--<breadcums [breadcumsTags]="nameRoutes"></breadcums>-->
  </div>

<router-outlet></router-outlet>
</main>
<footer class="page-footer blue-grey darken-1">
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright David
    <div class="right">
      ver. 1.2.3 Beta
    </div>
    </div>
  </div>
</footer>
