<div class="row">
  <div class="col s12 l12">
    <div class="card-panel white">
      <h4 class="card-title pink-text"><b>{{TITLE}}</b></h4>
      <div class="input-field pink-text">
        <i class="material-icons prefix">search</i>
        <input id="searchPipes"  [(ngModel)]="searchResult" (keyup)="filterItem()"  type="text" >
        <label for="searchPipes">Búsqueda</label>
      </div>
      <tableComponenets [headsTable]="headsTables" [bodyTableContent]="bodyTable" (paginationParams)="getCategoriesByPagination($event);" [countRecord]="countCategory"  (changeItem)="addUpdateCategory($event)"></tableComponenets>
    </div>
  </div>
</div>
<div id="createCategory" #modals class="modal">
  <div class="modal-content">
    <h4 class="pink-text center">{{ADD_CATEGORY_TITTLE}}</h4>
    <div class="row">
      <form #createUpdateForm = "ngForm" (ngSubmit)="onSubmit(createUpdateForm)">
        <div class="row">
          <div class="input-field col s12 pink-text">
            <i class="material-icons prefix ">local_offer</i>
            <input id="nameCategory"  placeholder="Solo letras" name="nameCategory" #nameCategory="ngModel" autocomplete="false" [(ngModel)]="categoryModel.dataCategory.nameCat" mz-tooltip [tooltip]="'Nombre de la categoría'" (blur)="validateVisualForm('name')" type="text"  [class]="classStyleForm" required>
            <label for="nameCategory">{{LABEL_CATEGORY}}</label>
            <!--<span *ngIf="!nameCategory.valid && nameCategory.touched">
              <span class="red-text">{{inputEmpty}}</span>
            </span>-->
          </div>
          <br>
          <div class="input-field col s12 pink-text">
            <i class="material-icons prefix ">description</i>
            <textarea id="description" placeholder="Sin espacios" name="descriptionCategory" #descriptionCategory="ngModel" mz-tooltip [tooltip]="'Descripción de la categoría'" [(ngModel)]="categoryModel.dataCategory.descriptionCat" (blur)="validateVisualForm('description')" [class]="classStyleTextArea"  required></textarea>
            <label for="description">{{LABEL_DESCRIPTION_CATEGORY}}</label>
            <!--<span *ngIf="!descriptionCategory.valid && descriptionCategory.touched">
              <span class="red-text">{{inputEmpty}}</span>
            </span>-->
          </div>
        </div>
        <div class="input-field col s12 pink-text">
          <input id="ivaCategory"  name="ivaCategory" #ivaCategory="ngModel" mz-tooltip [tooltip]="'Porcentaje de iva'" autocomplete="false" [(ngModel)]="categoryModel.dataCategory.ivaCat"  type="number" (blur)="validateVisualForm('number')" [class]="classStyleFormNum" required>
          <label for="ivaCategory">{{LABEL_IVA_CATEGORY}}</label>
          <!--<span *ngIf="!ivaCategory.valid && ivaCategory.touched">
              <span class="red-text">{{inputEmpty}}</span>
            </span>-->
        </div>
        <div class="row" >
          <div class="input-field col s12" *ngIf="buttonSaveUpdate">
            <button class="btn waves-effect waves-light col s12" type="submit" name="action" [disabled]="!createUpdateForm.form.valid">{{LABEL_SAVE_CATEGORY}}
              <i class="material-icons right">save</i>
            </button>
          </div>

          <div class="input-field col s12" *ngIf="!buttonSaveUpdate">
            <button class="btn waves-effect orange lighten-1 waves-light col s12" type="submit" name="action" [disabled]="!createUpdateForm.form.valid">{{LABEL_UPDATE_CATEGORY}}
              <i class="material-icons right">save</i>
            </button>
          </div>

          <div class="input-field col s12">
            <button class="btn modal-action modal-close waves-effect waves-light blue col s12" type="button" >{{LABEL_CANCEL_CATEGORY}}
              <i class="material-icons right">close</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="deletedCategory" #modal class="modal">
  <div class="modal-content">
    <h4 class="pink-text center">{{DELETED_CATEGORY_TITTLE}}</h4>
    <div class="row">
      <div class="center pink-text col l12 s12" >
        <h6>{{DELETED_CATEGORY_SUBTITTLE}}</h6>
      </div>
      <div class="modal-footer">
        <div class="right col l12 s12">

          <button class="btn modal-action modal-close waves-effect waves-light red right col l3 s12" (click)="deleteCategory()" type="button" >{{LABEL_DELETED_CATEGORY}}
            <i class="material-icons right">remove</i>
          </button>
          <button class="btn modal-action modal-close waves-effect waves-light blue right col l3 s12" type="button" >{{LABEL_CANCEL_CATEGORY}}
            <i class="material-icons right">close</i>
          </button>
        </div>

      </div>

    </div>
  </div>
</div>











