.card-panel{
  overflow-y: auto;
  height: 50vh;
}
.capitalizeText{
  text-transform: capitalize;
}
.borderDown{
  border-bottom-color: #e91e63;

}

.contexmenu{
  position: absolute;
}
.heigthPanelCalculator{
  height: 10vh;
  width: 100%;
}
.heigthPanelTotal{
  height: 10vh;
}
.heigthKeys{
  height: 8vh;
  border-bottom: #e91e63 1px solid;
  /*border: 1px solid black;*/
}
.heigthCells{
  height: 3vh;
  border-bottom: #e91e63 1px solid;
}
.neverScroll{
  overflow: hidden;
}
.sizeText{
  font-size: 30px;
}
#keyboard:hover{
  background-color: red;
}

td, th{
  padding: 0px 5px;
}


.heigthKeys:hover{
  background-color: #e91e63 !important;
  color: black !important;
  cursor: pointer;
}


.widthTicket{
  width: 155px;
  max-width: 155px;
}

.widthItemTicket{
  width: 40px;
  max-width: 40px;
  word-break: break-all;
}
