<div class="row">
  <div class="col s12 l8">
    <div class="card-panel white">
        <table class="highlight responsive-table">
          <thead class="pink-text fixed">
          <tr class="borderDown">
            <th>Producto <i class="right material-icons">arrow_drop_down</i></th>
            <th>Cantidad <i class="right material-icons">arrow_drop_down</i></th>
            <th>Precio Unidad <i class="right material-icons">arrow_drop_down</i></th>
            <th>Precio Final <i class="right material-icons">arrow_drop_down</i></th>
            <th>Imagen</th>
          </tr>
          </thead>

          <tbody>
          <tr class="borderDown">
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr ><tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr><tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr><tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr><tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr><tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr><tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr><tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr><tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr><tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr><tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr class="borderDown">
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
          <tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr class="borderDown">
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
          <tr class="borderDown">
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr class="borderDown">
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col l4 s12">
      <div class="card-panel white neverScroll">
        <div class="row">
          <div class="col l12 s12 heigthPanelCalculator black pink-text">
            <div class="row">
              <div class="left">Pagado:</div>
              <div class="right">20</div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="left">Devolución:</div>
              <div class="right">8</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col l12 s12">
            <div class="row">
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5 borderDown">
                <p class="col s12 center">7</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">8</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">9</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <i class="material-icons col s12 center">add</i>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">4</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">5</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">6</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <i class="material-icons col s12 center">remove</i>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">1</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">2</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">3</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <i class="material-icons col s12 center">close</i>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <i class="material-icons col s12 center">arrow_back</i>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">0</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">,</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <i class="material-icons col s12 center">keyboard_return</i>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">imagen</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">imagen</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">imagen</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">imagen</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">imagen</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">imagen</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">imagen</p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5">
                <p class="col s12 center">imagen</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="row">
  <div class="col l8 s12">
    <div class="card-panel white heigthPanelTotal neverScroll">
      <div class="left pink-text">
        TOTAL:
      </div>
      <div class="right sizeText">
        12 <i class="material-icons pink-text">euro_symbol</i>
      </div>
    </div>
  </div>

  <div class="col l4 s12 center ">
    <button class="btn col s12 light-blue darken-4">Añadir Producto Manual</button>
    <br>
    <br>
    <button class="btn col s12 ">Pagar y Finalizar</button>
  </div>
</div>









