<div class="row">
  <div class="col s12 l6">
    <div class="card-panel white">
        <table class="highlight centered" >
          <thead class="pink-text fixed">
          <tr class="borderDown">
            <th (click)="orderTableByColums('product');productAsc == false? productAsc=true:productAsc=false">Producto <i *ngIf="productAsc; else productDSC" class="right material-icons">arrow_drop_down</i>
              <ng-template #productDSC>
                <i class="right material-icons">arrow_drop_up</i>
              </ng-template>
            </th>
            <th (click)="orderTableByColums('quantity'); quantityAsc == false? quantityAsc=true:quantityAsc=false" >Cantidad <i *ngIf="quantityAsc; else imagenDSC" class="right material-icons" >arrow_drop_down</i>
              <ng-template #imagenDSC>
                <i class="right material-icons">arrow_drop_up</i>
              </ng-template>
            </th>
            <th (click)="orderTableByColums('finalPrice'); finalPriceAsc == false? finalPriceAsc=true:finalPriceAsc=false">Precio Final <i *ngIf="finalPriceAsc; else priceASC" class="right material-icons">arrow_drop_down</i>
              <ng-template #priceASC>
                <i class="right material-icons">arrow_drop_up</i>
              </ng-template>
            </th>
          </tr>
          </thead>
          <tbody>
            <tr class="heigthCells" *ngFor="let item of shoppingList" (click)="changeRecordOfList(item)">
              <td class="capitalizeText">{{item.product}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.finalPrice}} €</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div class="col s12 l2">
    <div class="card-panel white">
      <div class="row">
        <div class="col l4" *ngFor="let item of arrays">
          <img (click)="getProductByScannerBar(item.reference)" mz-tooltip [tooltip]="item.name" class="circle avatar" src="{{url+'getImageResize/'+item.image}}"/>
        </div>
      </div>
    </div>
  </div>

    <div class="col l4 s12">
      <div class="card-panel white neverScroll">
        <div class="row">
          <div class="col l12 s12 heigthPanelCalculator black pink-text">
            <div class="row">
              <div class="left">Pagado:</div>
              <div class="right">{{payMoney.toFixed(2)}} €</div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="left">Devolución:</div>
              <div class="right">{{returnPay.toFixed(2)}} €</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col l12 s12">
            <div class="row">
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('7')" >
                <p class="col s12 center"><b>7</b></p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('8')">
                <p class="col s12 center"><b>8</b></p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('9')">
                <p class="col s12 center"><b>9</b></p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('+')">
                <i class="material-icons col s12 center">add</i>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('4')">
                <p class="col s12 center"><b>4</b></p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('5')">
                <p class="col s12 center"><b>5</b></p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('6')">
                <p class="col s12 center"><b>6</b></p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('-')">
                <i class="material-icons col s12 center">remove</i>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('1')">
                <p class="col s12 center"><b>1</b></p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('2')">
                <p class="col s12 center"><b>2</b></p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('3')">
                <p class="col s12 center"><b>3</b></p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('*')">
                <i class="material-icons col s12 center">close</i>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('Backspace')">
                <i class="material-icons col s12 center">arrow_back</i>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('0')">
                <p class="col s12 center"><b>0</b></p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions(',')">
                <p class="col s12 center"><b>,</b></p>
              </div>
              <div class="col s3 valign-wrapper heigthKeys pink-text blue-grey lighten-5" (click)="calculateActions('Enter')">
                <i class="material-icons col s12 center">keyboard_return</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col l8 s12">
    <div class="card-panel white heigthPanelTotal neverScroll">
      <div class="left pink-text">
        TOTAL:
      </div>
      <div class="right sizeText">
        {{totalItemPrice.toFixed(2)}} <i class="material-icons pink-text">euro_symbol</i>
      </div>
    </div>
  </div>
  <div class="col l4 s12 center ">
    <button class="btn col s12 light-blue darken-4 waves-effect waves-light" (click)="openBoxMoney()">{{OPEN_BOX_REGISTER}}</button>
    <br>
    <br>
    <button class="btn col s12 light-blue darken-4 waves-effect waves-light modal-trigger" (click)="addProductName=''; addProductPrice=0; addProductQuantity=1; " data-target="addProducts">{{ADD_PRODUCT}}</button>
    <br>
    <br>
    <button class="btn col s12 waves-effect waves-light modal-trigger" data-target="payAndFinish" (click)="getDateToday();">{{PAY_FINISH}}</button>
  </div>
</div>

<div id="addProducts" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <ul class="tabs tabs-fixed-width">
          <li class="tab col s6"><a class="active" href="#addProduct">{{INCLUDE_PRODUCT}}</a></li>
          <li class="tab col s6"><a  href="#searchProductForList">{{SEARCH_PRODUCT}}</a></li>
        </ul>
      </div>

      <div id="addProduct" class="col s12 center">
        <div class="row center">
          <div class="input-field col s6 pink-text">
            <input id="price" (click)="clearPrice()"  type="number" [(ngModel)]="addProductPrice">
            <label class="active" for="price">Precio</label>
          </div>
        </div>
      </div>

      <div id="searchProductForList" class="col s12 center">
        <div class="row">
          <div class="input-field col s6">
            <input id="searchProduct" type="text" [(ngModel)]="searchProduct" (keyup)="searchProductRef()" class="validate" >
            <label class="active" for="searchProduct">Buscar Producto</label>
          </div>
          <table class="highlight striped" >
            <thead class="pink-text fixed">
            <tr>
              <td>Nombre</td>
              <td>Referencia</td>
              <td>Stock</td>
              <td>Cate.</td>
              <td>image</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of productsSearch" (click)="addProductSearch(item)">
              <td>{{item.name}}</td>
              <td>{{item.reference}}</td>
              <td>{{item.stock}}</td>
              <td>{{item.category.name}}</td>
              <td *ngIf="item.image"><img src="{{url+'getImageResize/'+item.image}}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button  class="btn modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
    <button (click)="addProductToList()"  class="btn modal-action modal-close waves-effect waves-green btn-flat">Añadir</button>

  </div>
</div>

<div id="payAndFinish" class="modal">
  <div class="modal-content">

    <div [hidden]="payMoney > totalItemPrice">
      La cantidad de dinero introduccido es menor al precio total
    </div>
    ¿Imprimir ticket?
  </div>

  <div class="modal-footer">
    <button  class="btn modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
    <button  class="btn modal-action modal-close waves-effect waves-green btn-flat" (click)="shoppingList=[]; totalItemPrice=0; payMoney=0; returnPay=0">No</button>
    <button  class="btn modal-action modal-close waves-effect waves-green btn-flat" (click)="printTickets(); shoppingList=[]; totalItemPrice=0; payMoney=0; returnPay=0">Si</button>
  </div>
</div>

<div id="ticket" [hidden]="true">
  <div style="width: 200px; ">
    <p style="text-align: center ; font-size: small ;font-family:'Arial Black' ;"> AUTOSERVICIO OLALLA</p>
    <p style="text-align: center ; font-size: x-small"> PLAZA DE ESPAÑA Nº 14</p>
    <p style="text-align: center ; font-size: x-small"> CIF  09203990-B</p>
    <p style="text-align: center ; font-size: x-small"> {{date}}</p>
    <table style="width: 100%">
      <thead>
      <tr >
        <th style="text-align: left; font-size:12px ">PRODUCTO</th>
        <th style="text-align: left; font-size:12px">PRECIO</th>
        <th style="text-align: left; font-size:12px">UND</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let items of shoppingList">
        <td style="text-transform: uppercase;font-size: 9px">{{items.product.length > 7?items.product.substr(0,10) +" ...":items.product}}</td>
        <td style="text-transform: uppercase;text-align: center;font-size: 9px">{{items.finalPrice}} €</td>
        <td style="text-transform: uppercase;text-align: center;font-size: 9px">{{items.quantity}}</td>
      </tr>



      </tbody>
    </table>
    <hr style="height: 1px; width: 60%; margin-left: 20%; border-bottom: 0.2px solid gray; border-top: none;border-left: none;border-right: none">
    <p style="text-align: center; font-size:12px ">
      <b>TOTAL: {{totalItemPrice.toFixed(2)}} €</b>
    </p>
    <p style="text-align: center ; font-size: x-small; font-style: oblique">Gracias por su compra</p>
    <p style="text-align: center; font-size: xx-small">IVA INCLUIDO</p>
  </div>

</div>

<div  [hidden]="true" id="openBox">
  27,112,0,100,200
</div>

<div id="addNewProduct" class="modal">
  <div class="modal-content">
    <div >
      ¿Añadir producto nuevo?
    </div>
  </div>
  <div class="modal-footer">
    <button  class="btn modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
    <button  class="btn modal-action modal-close waves-effect waves-green btn-flat" (click)="goToNewProduct();">Aceptar</button>
  </div>
</div>
<!--
<div [hidden]="contextmenu" class="contexmenu" [ngStyle]="{'left.px':contextmenuX, 'top.px':contextmenuY}">
  <div class="row">
    <ul class="collection with-header">
      <li class="collection-item pink-text">Crear Favorito</li>
      <li class="collection-item pink-text">Eliminar Favorito</li>
    </ul>
  </div>
</div>-->
